.ourproducts{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url(images/aboutus4.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    
}

.ourproducts-para {
    display: flex;
    flex-direction: column;
   /* font-size: 2vw; */
    margin-left: 1vw;
    
    width: 100vw;
    
}
.ourproducts-para p{
    font-size: 2vw;
    padding: 2vw;

}
body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.color{
    display: none;
    margin: 5px;
    background-color: aquamarine;
    width: 65vw;
    padding: 2vw;
}
#color-1{
    background-color: #d16f6f;
}


.color h1{
    margin-left: 2vw;
}
.color-box1 {
    display: flex;
}

.stone-img img {
    border: 2px solid black;
    height: 330px;
    width: 250px;
    border-radius: 20px;
    margin-left: 2vw;
}

.stone-price {
    margin-left: 3vw;
}
.price{
    box-shadow: 6px 4px 13px 1px black;
    border-radius: 5px;
    background-color: aquamarine;
    text-decoration: none;
    font-size: 2vw;
    color: black;
}

.price:hover{
text-decoration: none;
color: white;
background-color: black;
}

.color-box2 {
    display: flex;
    justify-content: space-around;
}

.color-box2 img {
    height: 330px;
    width: 250px;
    border-radius: 20px;
    transition: transform 0.3s;
    box-shadow: 6px 4px 13px 1px black;
}

.color-box2 img:hover {
    cursor: pointer;
    transform: scale(1.3);
}

#ourproducts-btn{
    margin-left: 3vw;
    /* width: 100vw; */
}
.ourproducts-btn {
    background-color: #26bbc1;
    padding: 2vw;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    font-size: 2vw;
}

.ourproducts-btn.active {
    background-color: #c0c0c0;
}


@media only screen and (max-width:767px){
    .ourproducts-para p {
        font-size: 4vw;
    }
    .ourproducts-btn {
        font-size: 4vw;
    }
    .color{
        width: auto;
    }
    .color-box2{
        flex-direction: column;
        align-items: center;
    }
    .color-box1 {
       
        flex-direction: column;
    }
    .color-box2 img:hover {
            
        transform: none;
    }
    .price{
        font-size: 5vw;
    }
}

@media screen and (min-width:767px) and (max-width:1023px){
    
    .color-box2 img:hover {
            
        transform: none;
    } 
}

@media screen and (min-width:1024px){
    .ourproducts{
        width: 100%;
    }
}